@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



:root {
    --text-white: #cec1c1;
    --brown-border: 4px solid #433C35;
    --clr-lg-brown: #605851;
    --clr-brown: #3A332E;
    --clr-neon-green: #D1D291;

}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: var(--text-white);
    background-color: #332D28;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    color: var(--clr-neon-green);
}

h2 {
    font-size: 22px;
    margin-bottom: 5px;
    color: var(--clr-neon-green);
}

h3 {
    font-size: 16px;
}

h1,h2,h3 {
    text-align: center;
    line-height: 1.75;
}

p {
    font-size: 12px;
}

input {
    color: var(--text-white);
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

input:focus {
    outline: 1px solid #928E8E;
}

::placeholder {
    color: var(--text-white);
    opacity: 0.5;
    font-size: 10px;
}


/* ------ Button ------*/
.btn {
    background-color: var(--clr-lg-brown);
    border: var(--brown-border);
    color: inherit;
    font-family: inherit;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5a534c;
}


/* ------ Home page ------*/
#home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 150px;
}

#username-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    gap: 15px;


}

#username-form input {
    width: 75%;
    background-color: var(--clr-lg-brown);
    border: var(--brown-border);
    padding: 7.5px;
}



/* ------ Chat ------*/
#chatroom {
    height: 500px;
    width: 400px;
    font-size: 12px;
    background-color: var(--clr-brown);
    display: flex;
    flex-direction: column;
}

#chat {
    flex: 1;
    padding: 20px 40px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}

#chat > :first-child {
    /* margin-top: auto !important; */
    margin-top: auto;
}



#chat-header {
    padding: 40px;
    padding-bottom: 0px;
    text-align: left;
    color: var(--text-white);
}

.chat-username {
    margin-bottom: 5px;
    font-size: 10px;
}

#send-message {
    display: flex;
    position: relative;
}

#send-message input {
    flex: 1;
    background-color: #322B25;
    padding: 15px 20px;
    border: none;
}



#send-message button {
    position: absolute;
    right: 20px;
    font-family: inherit;
    background: none;
    color: var(--text-white);
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ------ Lobby  ------*/

.player-monster {
    width: 64px;
    height: 64px;
    background-position: 0 -64px;
}

#lobby-players {
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#lobby-players_list li {
    display: flex;
    align-items: center;
    gap: 20px;
}

#lobby-players_list .player-name {
    font-size: 14px;
}


#lobby-layout {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(min-content, 550px) minmax(min-content, 500px);
    justify-content: center;
    grid-template-areas:
        "header header"
        "players chat";
    margin: 50px;
    margin-top: 100px;
    column-gap: 50px;
    row-gap: 75px;
}

#lobby-players {
    grid-area: players;
    justify-self: flex-end;
}

#lobby-layout>h2 {
    grid-area: header;
    text-align: center;
}

#chatroom {
    grid-area: chat;
}


/* ------ Game  ------*/
#game-layout {
    margin: 50px 0px;
    display: flex;
    justify-content: center;

}
#game-wrapper {
    position: relative;
}

#game-wrapper #chatroom {
    position: absolute;
    top: 0;
    right: -400px;
    height: 704px;
    width: 400px;
    border: var(--brown-border);
}

.left-sidebar {
    position: absolute;
    left: -161px;
    top: 0;
    height: 704px;
    background-color: var(--clr-brown);
    border: var(--brown-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------ Game Players List  ------*/

.players {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 30px 20px;
    border-bottom: none;
}
.players>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.players .player-monster {
    transform: scale(1.1);
}

.player-power_ups {
    display: flex;
    gap: 10px;
}

.player-status {
    display: flex;
    gap: 15px;
}


.player-power_ups > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.power-up__count {
    font-size: 10px;
}

.lives {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.lives > img {
    height: 18px;
    width: 18px;
}


#quit {
    width: 100%;
    border-width: 3px;
}



.monster-0__color {
    color: #4DADB0;
}
.monster-1__color {
    color: #F48A88;
}
.monster-2__color {
    color: #F3A228;
}
.monster-3__color {
    color: #89AB6D;
}

#winner {
    padding: 20px 70px;
    background-color: var(--clr-brown);
    border: var(--brown-border);
    color: var(--clr-neon-green);
    font-size: 20px;
    top: 25%;
}

#timer {
    font-size: 30px;
    padding: 10px 20px;
    background-color: var(--clr-brown);
    border: var(--brown-border);
    color: var(--clr-neon-green);
}
